@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --first-color: #12192C;
    --second-color: #F5A623;
    --white-color: #ededed;

    --body-font: 'Poppins', sans-serif;
    --small-font-size: 0.875rem;

    @media screen and (min-width: 768px) {
        --small-font-size: 0.638rem;
    }
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltrip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0.5rem;
    padding: 1rem 0 0 16rem;
    padding-left: 228px;
    font-family: var(--body-font);
    min-height: 100vh;
    background: #060120;
    transition: 0.5s
}

h1 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    text-decoration: none;

}

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 58px;
    height: 100vh;
    background: var(--first-color);
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    z-index: 200;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav_logo {
    position: relative;
    top: 20px;
    right: -10px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.1rem;
}

.nav_logo-icon {
    margin-right: 1.2rem;
    width: 30px;
    height: 30px;
    color: #b2cb40;
}

.nav_logo-text {
    font-size: 1.4rem;
    color: #b2cb40;
    font-weight: 700;
}

.nav_toggle {
    position: absolute;
    top: 2rem;
    right: -0.5rem;
    width: 18px;
    height: 18px;
    background: var(--second-color);
    border-radius: 50%;
    font-size: 200%;
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.nav_link {
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    transition: 0.5s;
}

.nav_link:hover {
    background: var(--second-color);
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.nav_text {
    font-weight: 550;
}

#logout {
    position: relative;
    top: -5px;
}

.show {
    width: 228px;
}

.l-navbar:not(.show) .nav_text {
    display: none;
}

.l-navbar:not(.show) .nav_logo-text {
    display: none;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.2s;
}

.expander {
    padding: 1rem 0 0 5rem;
    padding-left: 58x;
}

.active {
    background: var(--second-color);
    color: var(--first-color);
    transition: 0.3s;
}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.noti-icon {
    font-size: 150%;
    cursor: pointer;
    color: var(--white-color);
}

.menu-profile {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.menu-profile-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}


.user-pic-in {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.drop-menu-profile {
    position: fixed;
    top: 30px;
    right: 45px;
    background-color: var(--first-color);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    overflow: hidden;
    flex-direction: column;
    transform: scale(0);
    z-index: 0;
    transition: transform .5s ease, height .2s ease;

}

.drop-menu-profile.active {
    transform: scale(1);
    z-index: 200;
}

.drop-menu-profile a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.drop-menu-profile a:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.drop-menu-profile a ion-icon {
    margin-right: 8px;
}

.drop-menu-profile a .user-pic-in {
    margin-right: 8px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 500;
}
.overlay.active {
    display: block;
}

table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    z-index: 100;
}
table, th, td {
    border: 1px solid #dedede;
    color: #dedede;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #444;
}
#body-list-note tr:nth-child(even){
    background-color: #378f8f; 
}
#body-list-note tr:hover{
    background-color: #F5A623;
    cursor: pointer;
}
#filter th {
    background-color: #ededed;
    color: #060120;
    border: 1px solid  #444;
}
#filter th ion-icon{
    font-size: 150%;
    cursor: pointer;
}
#type-note-chosen, #type-note-option{
    position: relative;
    top: 40px;
    left: 450px;
    color: #dedede;
    width: 350px;
    background-color: #12192C;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    z-index: 100;
}
#type-note-option{
    top: 21px;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
#type-note-option.active{
    transform: scale(1) translateY(0);
    opacity: 1;
}
#type-note-chosen:hover, #type-note-option:hover{
    background-color: #F5A623;
    color: #12192C;
}
#icon-chevron-note{
    position: absolute;
    top: 6px;
    right: 12px;
}
input[type="date"],input[type="number"] {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;                   
    color: #333;                       
    padding: 8px 12px;                 
    border: 1px solid #ccc;           
    border-radius: 4px;                
    background-color: #f9f9f9;         
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    outline: none;
    cursor: pointer;   
    text-align: center;                   
    transition: all 0.3s ease;         
}

input[type="date"]:focus, input[type="number"]:focus {
    border-color: #4CAF50;             
    background-color: #fff;   
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); 
}
input[type="number"] {
    width: 100px;            
}

input[type="number"]:focus {
    border-color: #4CAF50;             
    background-color: #fff;           
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); 
}

@media (max-width: 768px) {
   #type-note-chosen, #type-note-option{
    left: 75px;
   }
}